<!doctype html>
<html>
   <body>
      <table border = 1>
         <thead>
            <td>Description</td>
            <td>Maker</td>
            <td>Model</td>
            <td>Serial number</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["description"] }}</td>
               <td>{{ row["maker"] }}</td>
               <td>{{ row["model"] }}</td>
               <td>{{ row["serial_number"] }}</td>
            </tr>
         {% endfor %}
      </table>
      
      <br>
      <a href = "/">Go back to home page</a>
   </body>